.resume-container {
  margin: 0 auto;
  font-size: 18px;
}

.name{
  text-align: center;
}

.job, .education, .hackathons {
  width: 70%;
  margin: 0 auto;
}

.skills-resume > h1, .experience > h1, .education > h1, .hackathons > h1, .contact-resume > h1 {
    text-align: center;
  }

.skills-resume > ul {
  height: 100px;
  display: inline-block;
  list-style-type: circle;
  text-align: center;
}

.skills-resume > ul > li{
  display: inline-block;
  background: #ccc;
  padding: 3px 7px;
  font-size: 21px;
  border-radius: 7px;
  margin: 5px 3px;
}

.position, .name-edu, .name-hack{
  text-align: center;
}

.company, .program, .place-hack{
  display: inline-block;
  width: 50%;
  float: left;
  font-weight: bold;
  margin-bottom: 10px;
}

.period{
  width: 50%;
  display: inline-block;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 10px;
}


.contact-resume > ul{
  text-align: center;
}

.contact-resume > ul > li {
  display: inline-block;
  margin-left: 10px;
}

.contact-resume > ul > li:before{
  content: '●  ';
  height: 10px;
}

.resume-pdf-btn{
  color: #FFF;
  font-size: 18px;
  text-transform: uppercase;
  position: fixed;
  top: 1em;
  right: 1em;
  height: 40px;
  width: 90px;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  padding: 7px;
  font-weight: bold;
}
