* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

html, body {
  margin: 0;
	padding: 0;
	border: 0;
}

main {
  text-align: center;
  height: 100vh;
  min-height: 500px;
  position: relative;
  padding: 20px;
  color: #000;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
  margin: 40px auto 20px;
  border-radius: 50%;
  width: 200px;
  max-width: 100%;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.copy {
  text-align: left;
  width: 50px;
  margin: 0 auto;
  opacity: 0.9;
}

span{
  display: block
}

span::first-letter {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 120%;
}

.contact {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}

a {
  color: #0a4cdc;
  padding-right: 10px;
}

a:hover {
  color: #000;
}

a:last-of-type {
  padding-right: 0;
}
